{{define "new_roaster_form"}}
<!-- Roaster Form Modal -->
<div x-cloak x-show="showRoasterForm" class="modal-backdrop">
    <div class="modal-content">
        <h3 class="modal-title" x-text="editingRoaster ? 'Edit Roaster' : 'Add Roaster'"></h3>
        <div class="space-y-4">
            <input type="text" x-model="roasterForm.name" placeholder="Name *" class="w-full form-input" />
            <input type="text" x-model="roasterForm.location" placeholder="Location" class="w-full form-input" />
            <input type="url" x-model="roasterForm.website" placeholder="Website" class="w-full form-input" />
            <div class="flex gap-2">
                <button @click="saveRoaster()" class="flex-1 btn-primary">Save</button>
                <button @click="showRoasterForm = false" class="flex-1 btn-secondary">Cancel</button>
            </div>
        </div>
    </div>
</div>
{{end}}
